<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script th:src="@{/static/test.js}"></script>
</head>
<body>
Hello,
<span id="username"></span>
age:
<span id="age"></span>
<button onclick="updateData()">updata</button>
    <button onclick="sendData()">senddata</button>
<div>
    <form action="upload" method="post" enctype="multipart/form-data">
        <input type="file" name="file">
        <input type="submit">
    </form>
</div>
<a href="download" download="test.html">download</a>
</body>
</html>